nav	{
	width: 600px;
	margin: 0 auto;

}

li {
		float: left;
		width:190px;
		margin: 0 5px;
		height:	40px;
}

nav ul li a {
	background-color: #FF6666;
	width: 190px;
	display: block;
	/*height: 40px;*/
	text-align: center;
	color: white;
	text-decoration: none;
	font-size: 22px;
	/*vertical-align: middle;	*/
	padding: 5px 0;

}

nav ul li a:hover, a.active {
	background-color: #FF2266;



}

nav ul {
	padding: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;



