/* 
Project Name: Ecard.ly
Client: General Assembly 
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

a {

     color: #cc6633;
     font-weight: bold;
     text-decoration: none;
     text-transform: uppercase;

}


body {background-color: #D6D6D6;
     background-image: url('../images/background.jpg');
     background-repeat: repeat-x; 
     color: #000000;
     font-size: 12px;

}
#container{
     width: 940px;
     margin: 0 auto;
}

h1   {
     text-indent: 100%;
     white-space: nowrap;
     overflow: hidden;
     width:216px;
     height:213px;
     background-image: url("../images/logo.png");
     margin: 0 auto;



}

main {
     float: left;
     width: 640px;

}

aside {
     width: 290px;
     float: left;
     background-color: white;
     margin: 10px 0px 0px 10px;

}

h2 {
     font-size:20px;

     }  

p   {font-size: 12px;

}

article{
     background: white;
     padding: 10px; 
     margin: 10px 0px;

}

img {
     float: left;
     margin-right: 10px;

}

#sidebar {
     float: left;




