#container {
	width: 960px;
	margin: 0 auto;
	background-color: #CCC;



}

#header{
	background-color: blue;
	padding: 10px;
}

#content {
	float: left;
	width: 560px;
	background-color: white;

}

#sidebar {
	float: left;
	width: 200px;
	background-color: #F00;


}

.clear {
	clear: both;

}

.alignleft {
	float: left;
	margin: 10px;

	}

